[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=NoteShrink
Name[es]=NoteShrink, limpiador de documentos
Name[ca]=NoteShrink, netejador de documents
Name[ca_ES@valencia]=NoteShrink, netejador de documents
Name[ca_ES.UTF-8@valencia]=NoteShrink, netejador de documents
Comment=Convert scans of handwritten notes to beautiful, compact PDFs
Comment[es]=Convierte manuscritos escaneados a PDF bonitos y compactos
Comment[ca_ES@valencia]=Converteix notes escrites a mà o escanejades en PDF reduïts i elegants.
Comment[ca_ES.UTF-8@valencia]=Converteix notes escrites a mà o escanejades en PDF reduïts i elegants.
Comment[ca]=Converteix notes escrites a mà o escanejades en PDF reduïts i elegants.
Exec=noteshrink-gui
TryExec=noteshrink-gui
Icon=noteshrink
Terminal=false
GenericName=NoteShrink
Categories=Graphics;GTK;
