
	GtkLabel {
		font: 12px Roboto;
	}
	
	#OPTION_LABEL {
		font: 12px Roboto Light;

	}

	#OUTPUT_LABEL {

		color: #3366cc;
		font: 10px Roboto Bold;

	}

	#MSG_ERROR_LABEL {

		color: #CC0000;
		font: 11px Roboto Bold ; 
	}

	#MSG_LABEL {

		color: #3366cc;
		font: 11px Roboto Bold ;
			
	}	

    #WINDOW{
		
		background-color: #f1f1f1;
		
	}

	#DELETE_BUTTON{
		background-color: #FF0000;
	}

	
